.outer-container {
    border: 1px solid black;
    height: 95vh;
    width: 97vw;
}

.inner-container {
    margin: auto;
    width: 90%;
    height: 96%;
    padding: 1%;
}

/* HEAD START */
.head {
    display: flex;
    justify-content: space-between;
}

.head>button {
    color: white;
    background-color: #f89821;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    text-transform: uppercase;
    width: 40%;
}

/* HEAD END */

/* GAME BOARD START */
.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    margin: 10px 0 0 0;
    font-size: 50px;
    text-align: center;
}

.box {
    border: 10px solid #FFF;
    width: 20%;
    height: 20%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover {
    background-color: #f89821;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.behind {
    z-index: -100;
}

.in-play {
    z-index: -100;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

/* GAME BOARD END */