.outer-container {
    border: 1px solid black;
    height: 97vh;
    width: 99vw;
}

.inner-container {
    margin: auto;
    width: 90%;
    height: 96%;
    padding: 1%;
}

/* HEAD START */
.head {
    display: flex;
    justify-content: space-between;
}

.head>button {
    color: white;
    background-color: #f89821;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    text-transform: uppercase;
    width: 20%;
}

/* HEAD END */

/* GAME BOARD START */
.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    margin: 10px 0 0 0;
}

.box {
    border: 10px solid #f89821;
    width: 20%;
    height: 20%;
    user-select: none;
}

/* GAME BOARD END */